@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{

    /* Text */
    --SubHeadingAtTheTopOfTheAppUI:hsl(276,100%,81%);
    --chatontheleft:hsl(276,55%,52%);
    --chatontheright:hsl(271,15%,43%);
    --placeholdertext:hsl(206,6%,79%);
    --mainheading:hsl(271,36%,24%);
    --paragraph:hsl(270,7%,64%);

    /* Gradients */
    --LightMagenta: hsl(293, 100%, 63%);
    --LightViolet: hsl(264, 100%, 61%);
    --ToolBar: linear-gradient(90deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));

    /* Secondary */
    --White: hsl(0, 0%, 100%);
    --appbackground: hsl(270, 20%, 96%);
    --submitbuttonbackground: hsl(271, 36%, 24%);
    --radiobuttonoutline: hsl(289, 100%, 72%);

    font-size: 16px;

}

*{
    box-sizing:border-box;
    font-family: 'Rubik', sans-serif;
}

.bg{
    position: absolute;
    height: 88vh;
    width: 38.3vw;

}

#bg1{
    background-color: #a03cff;
    border-radius: 0 0 100% 100% ;
    left: -9vw;
    top: 0;
}

#bg2{
    background-color: #f9f4fa;
    border-radius: 100% 100% 0 0 ;
    right: -14vw;
    bottom: 0;
}

html{
    overflow: hidden;
}
body{
    position: relative;
    margin:0px;
    padding:0px;
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-container{
    flex-basis: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mobile{
    position: relative;
    width: 248px;
    height: 508px;
    border: solid white 10px;
    border-radius: 40px;
    background-color: var(--appbackground);
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.mobile-camera{
    width: 130px;
    background-color: white;
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: calc(50%);
    margin-left: -65px;
}

.mobile-toolbar{
    background-image: var(--ToolBar);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--LightMagenta);
    height: 86px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 10px;
}

.chat-main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 10px;
    padding-right: 6px;
    padding-left: 6px;
    gap: 8px;
}

.chat-input-container{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.chat-input-container>div{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 100px;
    width: 90%;
    overflow: hidden;
    height: 34px;
    padding-right: 4px;
    
}

.chat-input-container>div>input {
    border: none;
    flex-grow: 1;
    font-size: 0.6rem;
    padding-left: 10px;
    height: 100%;
}
.chat-message{
    font-size: 0.5rem;
    max-width: 58%;
    padding: 0px 8px;
    color: var(--chatontheleft);
}
.chat-message.left {
    background-color: #ede5f4;
    border-radius: 8px 8px 8px 0px;
    align-self: flex-start;
    color: var(--chatontheleft);

}
.chat-message.right {
    background-color: var(--White);
    border-radius: 8px 8px 0px 8px;
    align-self: flex-end;
}


.pay-message{
    background-image: linear-gradient(45deg, var(--LightMagenta),var(--LightViolet));
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
    border-radius: 8px 8px 8px 0px;
    max-width: 74%;
    color: var(--placeholdertext);
    padding: 4px 8px;
}
.pay-message>.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pay-message>.right {
    margin-right: 10px;
    font-size: 0.7rem;
    font-weight: 700;
    color: white;
}
.pay-message>.left>.checkbox{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    border: 1px solid var(--placeholdertext);
}

.images-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 40px;
    margin: 8px 2px;
    gap: 8px;
    align-self: flex-end;
    width: 68%;
}
.image-container{
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 8px;
}
.image-container>img{
    height: 100%;
}

.chat-input-container>div>input::placeholder {
    color: var(--placeholdertext);
}


.mobile-toolbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.send-button{
    background-color: var(--submitbuttonbackground);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    
}

.toolbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: solid white 2px;
    overflow: hidden;
    object-fit: contain;
    color: white;
    margin-right: 10px;
}

.avatar-container>img{
    height: 100%;
}


.user-details{
    color: var(--White);
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    line-height: 1em;
}

.user-details>*{
    margin: 0px;
}
.user-details>p{
    color: var(--SubHeadingAtTheTopOfTheAppUI);
    font-size: 0.5rem;
}







.text-container{
    position: relative;
    flex-basis: 48%;

}
.text-container>h1 {
    font-size: 2.4rem;
    color: var(--mainheading);
}

.text-container>p {
    color: var(--paragraph);
    line-height: 1.7em;
    max-width: 45ch;
}


@media screen and (max-width: 520px) {
    main{
        flex-direction: column;
    }
    .text-container{
        justify-content: center;
        text-align: center;
    }
    .mobile-container{
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
    }

    .mobile{
        margin-right: 0px;
    }



}